/* #region Base */
:root {
    --primary-color: #005580;
    --secondary-color: #4d004d;
    --accent1-color: yellow;
    --accent2-color: #999999;
    --accent3-color: #33334d;
    --font1-color: black;
    --font2-color: white;
    --font3-color: #f2f2f2;
    --heading-font: "Merriweather", serif;
    --body-font: "Roboto", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--font1-color);
}
header, main, footer {
    width: 1200px;
    margin: 0 auto;
}
/* #endregion */

/* #region Nav */
#course-title {
    display: block;
    text-align: center;
    color: var(--font2-color);
    background-color: var(--primary-color);
    padding: 1.25rem;
    font-size: 1.5rem;
}
nav {
	background-color: var(--secondary-color);
	margin: 0 auto;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: var(--font3-color);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
    font-size: 1.1rem;
}
nav a:hover {
		color: var(--accent1-color);
}
nav ul {
    display: flex;
}
nav ul li {
    flex: 1 0 auto;
}
/* #endregion */

/* #region Main */
h1 {
    color: var(--font2-color);
	background-color: var(--accent3-color);
	padding: 0.5rem;
	font-size: 1.5rem;
	text-align: center;
    margin: 0.5rem;
    border-radius: 10px;
}
.card-container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.card {
    background-color: var(--font2-color);
    margin: 0 0.5rem 1rem 0.5rem;
    border: 1px solid var(--accent2-color);
    border-radius: 10px;
}
.card h2 {
    color: var(--font2-color);
    background-color: var(--primary-color);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 0.6rem;
    font-size: 1rem;
}

main {
    text-align: center;
}
section ul li {
    list-style-position:inside;
    text-align: left;
    padding: 0.5rem 0 0 3rem;
}
.info-grid{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.resources {
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile {
    margin: 1rem;

}
.profile p {
    margin: 0.5rem;
    text-align: justify;

}
.picture {
    margin: 1rem;
    width: 150px;
}
h3{
    text-align: center;
    font-size: 1.25rem;
}
hr{
    width: 80%;
    margin: 0 auto;
}
.country-info {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flag img {
    width: 150px;
}
.flag p {
    font-style: italic;
    font-size: 0.9rem;
}
/* #endregion */

/* #region Footer */
footer {
    color: var(--font2-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}
#footer {
    font-size: 1.25rem;
}
#lastModified {
    color: var(--accent1-color);
}
.lastModifiied {
    margin-top: 0.5rem;
}
/* #endregion */